{% extends 'base_site.html.twig' %}

{% block title %}Yohann Durand {% endblock %}

{% block body %}

  <main id="main">
  
    {{ include('site/_header.html.twig') }}

    {{ include('site/_front-end.html.twig') }}
    {{ include('site/_back-end.html.twig') }}
    {{ include('site/_dev-ops.html.twig') }}
    {{ include('site/_other.html.twig') }}
    {{ include('site/_contact.html.twig') }}
 

  </main>
{% endblock %}
