<!--==========================
  Carousel
============================-->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"> </ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/1.jpg') }}" alt="intro"></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>
                                22 ans et bac +3 en programation.
                                Passionné depuis mes 15 ans. j'ai toujours l'envie d'apprendre.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/2.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>PHP - Symfony - WordPress - MySQL</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/3.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p> Javascript - React </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/4.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>Dev'Ops - Ansible - Ansistranos - Linux  </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('build/img/intro-carousel/5.jpg') }}" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Yohann Durand</h2>
                            <p>Github - Trello - Slack</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->

<!--==========================
    Featured Services Section
============================-->

<section id="featured-services">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 box">
                <i class="ion-ios-bookmarks-outline"></i>
                <h4 class="title"><a href="">Symfony</a></h4>
                <p class="description">Symfony est mon framework de prédilection, aucun secret a son propos ne me résiste !</p>
            </div>

            <div class="col-lg-4 box box-bg">
                <i class="ion-ios-stopwatch-outline"></i>
                <h4 class="title"><a href="">React</a></h4>
                <p class="description">React.js est un bon framework qui marche trés bien avec Symfony.</p>
            </div>

            <div class="col-lg-4 box">
                <i class="ion-ios-heart-outline"></i>
                <h4 class="title"><a href="">Ansible - Docker - Git</a></h4>
                <p class="description">Les outils de déploiement comme Ansible sont trés pratiques pour tout automatisé.</p>
            </div>

        </div>
    </div>
</section><!-- #featured-services -->