{% extends 'base.html.twig' %}

{% block title %}Yohann Durand Développeur web {% endblock %}

{% block body %}
  <main id="main">

    {{ include('home/_header.html.twig') }} <!-- no run --> 

    <!-- Carousel -->
    {{ include('home/_carousel.html.twig') }} <!-- no run --> 

    <!-- Formation -->
    {{ include('home/_formation.html.twig') }}

    <!-- Service -->
    {{ include('home/_service.html.twig') }}

    <!-- Facts -->
    {{ include('home/_facts.html.twig') }}

    <!-- Portfolio -->
    {{ include('home/_portfolio.html.twig') }}

    <!-- Clients Section -->
    {{ include('home/_clients.html.twig') }}

    <!-- Contacts -->
    {{ include('home/_contact.html.twig') }}


  </main>
{% endblock %}
