<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yohann Durand{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="PortFolio de Yohann Durand, Programmeur Analyste">
        <meta name="author" content="Yohann durand">

        {% block stylesheets %}
            <!-- Favicons -->
            <link href="{{ asset('img/favicon.png') }}" rel="icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

            <!-- Bootstrap CSS File -->
            <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Libraries CSS Files -->
            <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <link href="lib/animate/animate.min.css" rel="stylesheet">
            <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
            <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
            <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

            <!-- Google Fonts -->
           <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

            <!-- public css -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">

            <link rel="stylesheet" href="{{ asset('css/layout/_footer.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/_nav.css') }}">

            <link rel="stylesheet" href="{{ asset('css/layout/carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/clients.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/contact.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/facts.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/formation.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/portfolio.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/service.css') }}">

            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">

            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
                  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                  crossorigin="anonymous">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
                  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
                  crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Yohann D</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">Formation</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <!-- <li><a href="#team">Accompagnateur</a></li> -->
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    {% block body %}
    {% endblock %}
    <!--==========================
       Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Dev</h3>
                        <p>Ce portfolio à pour but de me présenter moi et mes compétences au grand public, Veuillez m'adresser un mail dans la partie "Contact" Si vous trouvez une faille ou une chose à revoir sur ce site.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Menu</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#intro">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#about">Formation</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#services">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#portfolio">Portfolio</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#team">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact</h4>
                        <p>
                            2536 route des faisans <br>
                            Manneville La Goupil<br>
                            76 110, France <br>
                            <strong>Phone:</strong> 06 61 43 78 56<br>
                            <strong>Email:</strong> yohanndurand76@gmail.com<br>
                        </p>

                        <!--
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                        -->
                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Ma Newsletter</h4>
                        <p>Pourquoi vous inscrire ? Cela vous tiendra informer des article de blog future. </p>
                            <form action="" method="post">
                            <input type="email" name="email"><input type="submit"  value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Dev</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Uncomment below i you want to use a preloader -->
         <div id="preloader"></div>

        {% block javascripts %}
            <!-- JavaScript Libraries -->
            <script src="lib/jquery/jquery.min.js"></script>
            <script src="lib/jquery/jquery-migrate.min.js"></script>
            <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/superfish/hoverIntent.js"></script>
            <script src="lib/superfish/superfish.min.js"></script>
            <script src="lib/wow/wow.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/isotope/isotope.pkgd.min.js"></script>
            <script src="lib/lightbox/js/lightbox.min.js"></script>
            <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>

            <!-- Contact Form JavaScript File -->
            <!-- <script src="contactform/contactform.js"></script> -->

            <!-- Template Main Javascript File -->
            <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>
